body {
display:flex;
align-items:center;
justify-content:center;
height:100vh;
margin:0;
background-image:url('https://source.unsplash.com/1600x900?landscape');
background-repeat:none;
background-position:cover;
font-family: 'Lato', sans-serif;
font-size:120%;
}
.card{
  background:#000000d0;
  padding:2em;
  border-radius:20px;
  width:100%;
  max-width: 420px;
  margin:1em;
  color:white;
}
h1.temp{
  margin:0;
}
.search{
  display:flex;
  align-items:center;
  justify-content: center;
}
button{
  margin:0.9em;
  border:none;
  border-radius:50%;
  height:44px;
width:44px;
outline:none;
  background:#7c7c7c2b;
  transition: 0.4s ease-in-out;
}
button:hover{
    background:#7c7c7c6b;
}
button i{
  font-size:1.3rem;
  color:white;
}
input{
  border:none;
  outline:none;
  padding:.4rem 1em;
  border-radius:24px;
  background:#7c7c7c2b;
  color:white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100%-100px);
}.weather.loading{
  visibility:hidden;
}
.weather.loading:after{
  visibility:visible;
  content:"Loading.....";
  color: #fff;
  position:absolute;
  top:0;
}
.description{
  text-transform:uppercase;
  margin:1em;
  }
